# Rust / Cargo
target/
Cargo.lock

# Anchor
.anchor/
**/.anchor/
**/target/
**/node_modules/

# Solana keypairs (güvenlik)
**/*.json
!**/tsconfig.json
!**/package.json

# Node
node_modules/
dist/
.yarn/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Test artifacts
**/.mocharc*
**/test-ledger/


*.pdf
